[2018-10-11 08:10] mtennoe opened #33 "Rewrite the whole thing to TypeScript"
The project is currently normal Javascript. Rewriting it to typescript would add type safety to prevent issues runtime

[2018-10-11 08:11] mtennoe opened #34 "Enable prettier"
Prettier should be run on precommit to ensure consistent styling

[2018-10-11 08:12] mtennoe opened #35 "Enable various tslint rules after the TS rewrite"

[2019-01-08 07:47] Markionium commented on #34
As part of this work we should also remove jshint

In lintCode:
[code]

![image](https://user-images.githubusercontent.com/2134901/50816650-7d630280-1321-11e9-9055-6b31d6105a71.png)

[2019-01-14 21:36] Markionium opened #54 "Update the security handling in getViewFromSwagger2"
There is some seemingly weird things going on around the securityDefinitions and the security related properties on the methods.

We should figure out what these are actually supposed to do and refactor the code to be easier to understand.

[2019-01-14 21:50] mtennoe commented on #54
Agree! Thanks for bringing it up

[2019-01-15 07:11] mtennoe commented on #34
Done as part of #52

[2019-01-15 07:11] #34 closed

[2019-01-16 13:00] sbusch opened #58 "Package version not updated"
Release version is 1.9.2, but version in package.json is still on 1.9.0, maybe due to changed release workflow w/ Travis CI?

(I'm not expired in these things, but there's at least "npm version", and more tools which even collect changelogs from git commits. What are you using/are you planning to use?)

[2019-01-17 07:32] mtennoe commented on #58
Yup, there are some auth issues with the Travis deployment (seems that it doesnt handle 2factor auth very well) blocking that flow. I will take a look and fix it tomorrow, and ensure the whole pipeline works as expected

[2019-01-17 07:33] #33 closed

[2019-01-17 07:33] mtennoe commented on #33
Fixed by #52

[2019-01-17 08:07] Markionium commented on #58
We should probably use `npm version`(It's mostly been an oversight from me not informing Marius :P)

Those releases are also not in `npm` (So assuming you're usually installing from npm you should get 1.9.0)

[2019-01-17 08:08] mtennoe commented on #58
@Markionium - Lets sync when I'm back in the office tomorrow

[2019-01-18 12:14] mtennoe commented on #58
Having the release pipeline is overkill currently, so I removed the releases and will continue releasing manually for now (meaning 1.9.0 is the latest version). Will fix travis deployment properly whenever we need start needing it ofc.

[2019-01-18 12:14] #58 closed

[2019-02-01 20:05] andy-viv opened #59 "1.9.0 is broken"
Thanks for the great library, we are using it well in our projects.

Currently (v1.9.0) for the simplest case, the lintCode.js file is breaking generation. It seems as though it is attempting to lint the client as a javascript file instead of a typesript file. Here is a minimal reproduction of the error:

https://gist.github.com/andy-viv/8004ff39407f6d2fa14c8c4d14d36a2f

The error that occurs:

[c

[2019-02-02 14:00] mtennoe commented on #59
Thanks for reporting! This is strange, will take a look after the weekend.
Tests are run on PRs, but this might not be covered.

Re. versioning - I did some testing of publishing via Github and travis, but decided on not using that yet, which is probably why the versioning is inconsistent. I deleted the github tags now to clean it up. 1.9.0 is the correct latest version

[2019-02-04 08:32] mtennoe commented on #59
We were discussing the removal of ESLint/jshint in the internal typescript rewrite, as it doesn't really make any sense since this project is only generating TS code anyway. I have created a PR for removing JS linting from the pipeline (#60), which fixes the issue.

We should look into adding a TSLint option ofc, but that can be done later

[2019-02-12 07:17] #59 closed

[2019-02-12 07:20] mtennoe commented on #59
@andy-viv 1.9.2 published with the fix

[2019-02-14 19:03] andy-viv commented on #59
Thanks @mtennoe, testing now!

[2019-02-28 08:08] sbusch opened #62 "Possible bug in method template?"
I don't know Mustache well enough, but I think I found a bug in [templates/method.mustache](https://github.com/mtennoe/swagger-typescript-codegen/blob/master/templates/method.mustache):

`isBodyParameter` is accessed **outside** of the `{{#parameters}}`loop at both methods in that template:

https://github.com/mtennoe/swagger-typescript-codegen/blob/777e5ca3cdef5c0d161e351a1c148b7d6c2e1478/templat

[2019-03-04 11:03] mtennoe commented on #62
Yep, you're right, this looks wrong! Is this affecting you currently?

[2019-03-04 11:12] sbusch commented on #62
No, just found it while making other changes

[2019-03-05 07:56] mtennoe commented on #62
Great! Let's fix this as soon as someone has the time. Ofc, if someone reports that they hit this we will jump on it sooner.
Thanks for reporting!

[2019-03-10 21:28] DenisSabo opened #65 "YAML-Support"
Hey there,
for libraries like https://www.npmjs.com/package/swagger-typescript-codegen it would be nice, if your tool could generate a Typescript file, out of a YAML file.

[2019-03-11 07:51] mtennoe commented on #65
Hey @DenisSabo!

Do you mean using YAML files for specifying the Swagger spec (similar to the current Swagger JSON file)?

Thanks for the input!

[2019-03-11 16:23] DenisSabo commented on #65
Hey @mtennoe,

yes that's what I meant. The reason for the suggestion is that for me it would mean one less step in my toolchain.

Thank you for the fast response! 👍

[2019-03-12 07:53] mtennoe commented on #65
It would add some complexity to the whole pipeline, but if we do it correctly we can hide a lot of the complexity. I guess there are some nice tools out there for parsing and reading the YAML and convert it to the internal format in the codegen tool as well. Don't really have the time to look into that in the nearest future myself though. But you are free to give it a go if you want to :)

[2019-03-12 07:59] mtennoe opened #66 "Make the implementation follow the OpenAPI/Swagger spec for dictionaries"
There are a few valid ways to define `additionalProperties`.

https://swagger.io/docs/specification/data-models/dictionaries/

But might be best for the implementation to follow the OpenAPI/Swagger spec, and only allow for valid dictionary types.

Could maybe also handle some of these other invalid cases.

_Originally posted by @scottc in https://github.com/mtennoe/swagger-typescript-codegen/pull/

[2019-03-12 08:00] mtennoe commented on #66
@scottc FYI

[2019-03-26 08:16] sbusch commented on #65
Out of scope IMHO.

@DenisSabo you could convert from YAML to JSON as a preprocessing step, e.g.  <https://stackoverflow.com/questions/34733253/converting-a-swagger-yaml-file-to-json-from-the-command-line>

[2019-03-28 11:35] OlPainless opened #69 "Version 1.9.7 not packaged correctly"
Hi again!

It seems the npm package of version 1.9.7 is not quite up to date. Looking at a diff between npm packages for 1.9.6 and 1.9.7 I see that `package.json` is updated, and the `allOf.json` test spec is included, but the changes to `object.js` mapper are not there.

Perhaps there was some issue when publishing?

Kind regards,
Andreas

[2019-03-29 09:50] OlPainless opened #70 "Allow deprecated methods to be processed"
At the moment, codegen does not support generating client endpoints for deprecated methods. However, I have a use case where I'd need that specific functionality.

I've been thinking that it should be fairly straight forward to add a configuration option for processing deprecated methods (off by default, for backwards compatibility). What do you think, does this sound like an idea? I'd be happy to

[2019-03-29 12:10] mtennoe commented on #70
Sounds like a good idea! Go for it! :)

[2019-03-29 12:12] mtennoe commented on #69
Curious! Could be a problem where it didnt build properly before publishing. I did a rebuild and republish now, and the lib folder contains the updated object.js mapper now, so hopefully the publish worked properly (version 1.9.8). Does that version work for you?

[2019-03-29 13:37] OlPainless commented on #69
Version 1.9.8 works, thanks!

[2019-03-29 13:37] #69 closed

[2019-03-31 01:24] Morkos opened #71 "[TS Error]: AngularJS + Typescript 2.5.2 + Swagger TS code generation error while importing"
##### Description
Hi there,

I filed the same bug here: https://github.com/swagger-api/swagger-codegen/issues/9328
but I am facing a different set of issues with this swagger codegen version.

The following errors happen when I try to compile the generated TS client file.

dist/otrBackendService.ts(80,16): error TS1127: Invalid character.
dist/otrBackendService.ts(80,32): error TS1127: Invalid cha

[2019-04-01 06:08] OlPainless commented on #70
I have made changes which seem to work, but I am a bit unsure how this should be tested; the normal test suite only tests that the generated code is valid, but there is no apparent way to see whether or not a method is included or not. Any ideas how this could be tackled?

[2019-04-01 07:04] mtennoe commented on #71
Can you show an example of the code it is complaining about? We don't have any set requirements for TS versions, but 2.5.2 is fairly old - would it be possible to upgrade to a newer version? 3.4 (patched to 3.4.1) was recently released.

If that is not possible, it should be possible to take the current mustache templates and modify them to work with TS 2.5.2, then use those as custom templates

[2019-04-01 07:07] mtennoe commented on #70
Sounds like we should add some extra tests for this in the process then. One idea would be to attempt to call one of the specific deprecated methods in a jet test. If the test breaks due to the method not being defined if its excluded (and runs successfully vice versa), that should be sufficient

[2019-04-01 12:05] OlPainless commented on #70
Maybe we're going through this the wrong way? Perhaps it would be easiest to just put this in a normal unit test, and check whether or not the method is added depending on the options.

I feel it might make the tests a bit brittle if we check that a specific function is generated or not, as it depends a lot on the templates (which don't have any specific tests at the moment).

[2019-04-01 13:10] mtennoe commented on #70
Good point, that is a lot better (and easier)!

[2019-04-02 00:54] Morkos commented on #71
Hi Maurice,

Yes, I upgraded to TS 3.3 to try it out, but still no cigar. New errors are here [1] and code is here [2].

[1]: https://gist.github.com/Morkos/474bef564b63a2e047b34a52b6bf13e7
[2]: https://gist.github.com/Morkos/71762f07b20210050527a87ee223ed95

Best,

[2019-04-02 06:59] mtennoe commented on #71
Can you show a snippet of the output code it complains about?

[2019-04-02 07:02] #70 closed

[2019-04-02 16:31] Morkos commented on #71
Hi Maurice,

I have links above, but not sure why github got rid of my footers to the links "1" and "2" above.

TS Generated Code: https://gist.github.com/Morkos/71762f07b20210050527a87ee223ed95
Compilation Errors: https://gist.github.com/Morkos/474bef564b63a2e047b34a52b6bf13e7

[2019-04-03 07:15] mtennoe commented on #71
Looks like the errors are caused by the generator outputting `«` and `»` instead of `<` and `>` for use in the generic types. These characters don't exist in the codegenerator, so seems like they are coming from somewhere outside. Do you see these characters in the input swagger.json file?

[2019-04-03 14:03] michalzaq12 commented on #71
Some swagger spec generators (e.g Springfox Swagger2) outputting `«` and `»` instead of `<` and `>` in model definitions section

Source code: [https://github.com/springfox/springfox/blob/master/springfox-schema/src/main/java/springfox/documentation/schema/DefaultGenericTypeNamingStrategy.java](url)

[2019-04-03 16:32] Morkos commented on #71
Thank you both.

Hello @michalzaq12, is there a way to override this behavior? And yes I'm using Springfox Swagger2 (2.2.2). Is there an alternative?

[2019-04-04 19:54] michalzaq12 commented on #71
I do not know if it is the perfect solution, but it should work:

`const swagger = JSON.parse(fs.readFileSync(file, 'UTF-8').replace('«', '<').replace('»', '>'));`

[2019-04-29 02:33] scottc opened #73 "[Feature] Non-Success Type Checking - Responses Union Type"
Schema:

[code]

Generates typescript response type of:

`Promise < ResponseWithBody < ThingResponse >>`

Expecting:

`Promise < ResponseWithBody < 200ThingResponse | 400ThingResponse | 404ThingResponse >>`

This allows for type checking of non-success responses as well as exhaustive pattern matching.

[code]

[2019-04-29 07:43] mtennoe commented on #73
Great idea! Would you be willing to give it a shot?

[2019-05-09 03:44] scottc opened #75 "redux-saga integration"
I'm using swagger-typescript-codegen along side redux-saga.

For every swagger api I need to write some additional repetitive boilerplate code (action types, watcher generator functions and saga generator functions), to integrate the apis into my codebase.

It would be nice if this additional code was also generated for me.

It's beyond the scope of swagger-typescript-codegen, to have redux-saga i

[2019-05-09 06:08] sbusch commented on #75
It should be possible by overriding the templates and changing them to your needs, but (in my experience):

1. Mustache template engine is quite limited, so it'll be not much fun :-)
2. Because of just three "big" templates, the maintenance of your templates after upstream changes could be a PITA (finer granularity with more, smaller templates would definitely help here, but we're not there yet, a

[2019-05-09 06:18] mtennoe commented on #71
@Morkos - Closing this as its not related to the code generator itself. Please reopen if you disagree or want to reopen the discussion

[2019-05-09 06:18] #71 closed

[2019-05-09 06:21] mtennoe commented on #75
Yup, changing a custom template would work (we are doing this on a project I am working on). It does take some work to keep it up-to-date with the upstream default templates, but we have found that to be reasonable (and we oftentimes don't need to update the template either).

In addition to making the various templates smaller and more granular, we also have discussed replacing mustache templates

[2019-05-24 03:53] scottc commented on #73
https://swagger.io/docs/specification/2-0/describing-responses/
https://swagger.io/docs/specification/describing-responses/

Another nice addition would be including the HTTP status code information in the type information.

[code]

I have a few different HTTP status codes that share the ErrorResponseBody type, such as 404, 400.

It's good that i can discriminate on body type, but when i have mult

[2019-05-24 08:31] mtennoe commented on #73
Definitely makes sense to add. Considering you already have this on a branch, I suggest merging that in with the existing PR

[2019-05-24 08:58] scottc commented on #73
Added to pull request.

Found why tests are failing, generating some types that look like this.

[code]

I suspect it should be like this instead:

[code]

Fixing...

[2019-05-28 07:36] mtennoe commented on #73
Merged the RFC, and published as 1.10.0

[2019-05-28 07:36] #73 closed

[2019-06-04 23:28] arvind1234 opened #76 "[Feature request] Map enums to string enums instead of string literal type"
Is there a way to transform enums into tyepscript string enums instead of string literal type?

[2019-06-05 07:53] mtennoe commented on #76
That might be possible to add support for. One of the current challenges though is that based on the swagger schema (AFAIK) we dont get a name of the enum type, so that needs to be generated somehow when generating the output TS types (so that we have a type to reference), while ensuring the new type name is unique (and at least to some degree with a descriptive name). Have you tried marking the e

[2019-06-07 04:35] scottc commented on #76
I generally prefer string unions.

Unless the name is different from the value. And has some additional semantic meaning, that would increase code clarity.

I'm using NSwag C# server, and it generates some custom `x-enumNames` field.

[code]

[2019-06-07 04:52] scottc opened #77 "[feature] concise response type alias"
The response types can be quite long, and inconvenient to use.

`const x: Promise<ResponseWithBody<200, OkBody> | ResponseWithBody<404, NotFoundBody>  | ResponseWithBody<400, BadRequestBody>> = undefined;`

I propose generating some concise type aliases.

[code]

The alias's should be backwards compatible, optional and work as drop in replacements.

[2019-06-07 06:47] Markionium commented on #77
Hi Scott,

I really like the idea.

Just to clarify, when you say optional you mean you would like like to be able to control if they are generated or not?

[2019-06-07 07:04] scottc commented on #77
My original intent was "optional to use" the aliases.

Typescript type definitions are only used at compile time, and there is no additional code generated in the output .js file. So I can't think of any drawbacks of always generating these additional types.

[2019-06-07 10:22] mtennoe commented on #77
Really like this idea as well! Ensuring we export both the verbose and the consise types would make them optional to use as well. Should not cause any bundle size issues either for the consumer, as as you mention these are just compile time types

[2019-06-10 07:17] scottc opened #78 "[feature] immutable data structures"
Generated mutable types:

[code]

Could be immutable types:

[code]

This would be a breaking change, so maybe mutable types by default and opt-in to immutable types, by configuration flag.

Although my personal preference would be immutable by default.

Reason being is that I'm using functional programming paradigm, where immutable data-structures are preferred, to avoid accidental state mutation

[2019-06-11 13:06] mtennoe commented on #78
+1 on this! My expectation in my projects as well. I think to support backwardscompatibility we should make it an opt-in feature.

A bit of a side track - this brings up the good question on how we want to handle backwards compatibility overall. I.e. when do we want to say its ok to break something, and when do we want to keep backwards compatibility? I don't see a clear rule for this myself. @sco

[2019-06-13 05:26] scottc commented on #78
IMHO, hide it behind a config flag, to opt-in as an early adopter.

And later when there is a major release, change the defaults, to opt-in by default.
If there is consensus among the community.

Can have an open issue to gather community feedback and votes, for a period of time. Before making a final decision.

[2019-06-13 06:27] mtennoe commented on #78
Like it, sounds like a reasonable approach (and what many other projects do)

[2019-06-17 06:12] mtennoe commented on #77
@scottc - Wanna give this a shot?

[2019-06-18 19:58] Kosta-Github opened #79 "change interface of ResponseWithBody<S, T> to use <S extends number, T>"
change interface of `ResponseWithBody<S, T>` to use `<S extends number, T>`

otherwise I am getting this errors:
[code]
this is for typescript `3.5` and `@types/superagent`=`4.1.1`

[2019-06-19 07:03] #79 closed

[2019-06-19 07:09] mtennoe commented on #79
@Kosta-Github - Thank you for reporting and creating a PR to fix this!
Merged and published as 1.10.1

[2019-06-19 14:55] Kosta-Github commented on #78
👍

[2019-06-19 15:03] Kosta-Github commented on #65
with `npm install --save js-yaml` you can change the line in the example usage:
[code]
by
[code]
IMHO, there is no need for adding the `yaml` dependency... mh, maybe for the CLI tool...

[2019-06-22 10:37] max-scopp opened #85 "(Support?) Type errors for dev environment & future plans"
I'm looking for a good fork of wcandillon's work. This seems a good place to start off - especially since it's hosted by an Microsoft member.

Sadly, I'm required to have an URL-to-method lookup which may (probably) requires a small rewrite of this module. I'm also required to have properly used return types (partly true of #77).

Per readme, I've been trying to fire up the dev environment using `

[2019-06-23 09:54] mtennoe commented on #85
Hi @max-scopp!

Seems like you closed this issue. I guess it is still relevant? Were you able to get the environment running? If not, what kind of type errors are you receiving?

[2019-06-23 10:26] max-scopp commented on #85
Thanks for your Response, I've gotten myself a drink yesterday and reworked the whole template.

I was able to get the environment running and no longer have any errors, if I remember right, they where just jest-specific type problems anyways. Can't reproduce anymore. After checking out the master I now only get `Types of property 'additionalProperties' are incompatible.
  Type 'boolean' is not as

[2019-06-24 07:26] mtennoe commented on #85
Cool!

Re. superagent - This is from the original fork, and we havent removed it. In a separate project I am working on using this project we use custom templates where we have removed the superagent usage and rather use XMLHttpRequests. The use of fetch also makes sense, but comes at the cost of needing to polyfill for IE. I don't feel strongly for keeping superagent (except backwards compatibili

[2019-07-09 15:54] OndraRehounek opened #88 "[question] Webpack compilation errors"
Hi,

first of all, thank you for maintaining this repo. I've recently started using this tool in my Nuxt Typescript project and I am getting errors during compilation in `options.d.ts` file

[code]
After hours of searching I was unable to resolve the issue (unless I simple comment out errored lines) - I am wondering if someone has similar issue...

Maybe there is some specific webpack/Nuxt config

[2019-07-17 10:39] Markionium commented on #88
Hey @OndraRehounek,

Sorry for the slow reply. Summer here in Norway is pretty slow. A bunch of people in the office are on holiday and I'm somewhat low on bandwidth ;). Thank you for the thank you! :D

It seems like we might need to add some @types to the dependencies.

Could you try to install the types for beautify? `npm install @types/js-beautify@^1.8.0` or `yarn add @types/js-beautify@^1.8.0`

[2019-07-18 06:11] OndraRehounek commented on #88
Hi @Markionium

thank you very much for the reply

`npm install @types/js-beautify@^1.8.0` worked perfectly :100:

Enjoy summer in Norway :)

[2019-07-21 09:16] #88 closed

[2019-07-31 06:24] scottc commented on #85
RE: XMLHttpRequests

I'm using axios in my custom template.
I would also want to have node support, for SSR.

There are some other similar lightweight isomorphic-fetch polyfill libraries, I'm not particularly attached to any specific implementation lib either. As long as it works in all commonly used browsers, and other such run-time environments.

RE: code generation.

My preference would be usin

[2019-07-31 06:48] scottc opened #90 "Types are missing JSDocs"
Actual:
Response types are missing JSDocs

[code]

Expected:
JSDocs containing the definition descriptions.

https://swagger.io/docs/specification/2-0/describing-responses/
[code]

[code]

[2019-07-31 06:55] scottc commented on #75
Closing, I'm no longer pursuing this.

The answer is either customizing the template.
Or adding ES6 string template support feature.

[2019-07-31 06:55] #75 closed

[2019-07-31 12:32] mtennoe commented on #90
Yo! Yep, seems like we are missing this. Shouldnt be too hard to add either, so should be an easy win.
Might also be interesting to make it togglable so consumers can disable comments if desired.

[2019-08-14 09:08] devpie opened #91 "Types with additionalProperties are not generated correctly"
Hi, i just updated to version 2.0.0 and now my types with additionalProperties do not get generated correctly. Here is an example based on your __tests__ for additionalProperties. Within the tests of swagger-typescript-codegen it seems to work, but in my project and my test project it doesn't. What am i doing wrong?

swagger.json:
[code]

output.ts:
[code]

[2019-08-15 06:41] mtennoe commented on #91
Hi!

There was a recent PR that improved the way additionalProperties work, see #86.
Are you using a custom mustache template, or the default ones?

@Kosta-Github - Were you able to compile a migration guide for this?

[2019-08-15 08:34] devpie commented on #91
Hi @mtennoe,

yes i saw this PR. No we don't use custom mustache templates. We use the default ones.
As mentioned i created a test project for testing this issue in order to eliminate any side effects. Here are my package.json and my generate.js which used the swagger.json above and produced the output.ts above.

generate.js:
[code]

package.json
[code]

[2019-08-15 12:10] mtennoe commented on #91
Hm, interesting. When it's failing for you, are you using the same swagger.json as in the PR, i.e. [this guy](https://github.com/mtennoe/swagger-typescript-codegen/pull/86/files#diff-fb8bb71a1153453048c3679c6ce907ee)?

[2019-08-16 11:53] devpie commented on #91
Yes, exactly :)

[2019-08-16 23:57] andy-viv commented on #91
@devpie it looks like this works if you use 1.11.0. @mtennoe did anything else change between 1.11.0 and 2.0.0?

[2019-08-17 07:16] mtennoe commented on #91
2.0.0 was just a republish of 1.11.0, so it _shouldnt_ have, but something might have gone wrong in the process. I will take a look at that on monday

[2019-08-19 07:14] mtennoe commented on #91
Seems like the issue was introduced in #89. To get back to a good state quickly I reverted that change and published it as 2.0.1, which seems to work in my own test environment. Does this solve it for you as well?

@bweggersen - Can you take a look to see what in the change caused the issue, and try to reintroduce it?

[2019-08-21 06:56] devpie commented on #91
Yes it works again. You are the best. Thank you very much. :smile:

[2019-08-21 07:01] mtennoe commented on #91
Great to hear! Closing the issue :)

[2019-08-21 07:01] #91 closed

[2019-08-28 18:58] Shahab96 opened #92 "Path params not uri encoded."
The path appended to the domain may contain strings that have special characters but are not uri encoded.

https://github.com/mtennoe/swagger-typescript-codegen/blob/fbd3d7ad90c57022c7b116a97b93a1ec9cca2ac3/templates/method.mustache#L96

An example of this could be
'/someurl/{SomeParam}' evaluating to '/someurl/Some/Param' if SomeParam is 'Some/Param'

This would result in a bad request, where the

[2019-08-29 07:06] mtennoe commented on #92
Yo, and thanks for reporting!

Are you using a custom mustache template? The reason I am asking is that in method.mustache we are running URI encoding on all the queryparameters, so this _should_ already be handled in the code generated output:
![image](https://user-images.githubusercontent.com/11868950/63918061-3c4c6980-ca3c-11e9-91b0-1892dc3c3554.png)

[2019-08-30 19:24] Shahab96 commented on #92
Hi! We aren't using a custom template. The issue is not that query params are not encoded but that the path params are not encoded. For example.
domain.com/users/{someUser}/etc?someParam=value

`someUser` in this case is not url encoded.

[2019-09-02 06:25] mtennoe commented on #92
Gotcha, I see what you mean now, thanks! Do you want to attempt a fix? If not I will try to get the time during this week some time

[2019-09-03 18:11] Shahab96 commented on #92
I'll attempt a fix and submit a PR. Thank you!

[2019-09-07 14:55] mtennoe commented on #92
Fixed in #94

[2019-09-07 14:55] #92 closed

[2019-09-19 22:11] Shahab96 opened #96 "Response type not rendered when swagger responses is empty"
I've found that if you have a swagger file where one or more of your operations has it's responses defined as an empty object, the generated api client returns `Promise` with no type, resulting in a TS error.

Example:
[code]

Result:
[code]

Typescript requires that promises have some type eg Promise<number>.
In this situation the type should be voice i.e
[code]

[2019-09-19 22:14] Shahab96 commented on #96
https://github.com/mtennoe/swagger-typescript-codegen/blob/master/templates/method.mustache#L70

Perhaps a check could be added here, and render void if the return type is undefined or null?

[2019-09-20 08:33] mtennoe commented on #96
Yo! Hm, before we look into a fix, I am not sure this is a supported scenario in the Swagger spec? A request would have to have at least one response, for instance a 204, even for fire-and-forget requests? (I am not seeing any mention of it being either optional or required in [the specs](https://swagger.io/docs/specification/2-0/describing-responses/), but I would assume its mandatory)

[2019-09-20 18:45] Shahab96 commented on #96
You're right. Having at least one response is mandatory.

https://swagger.io/docs/specification/describing-responses/

Thank you!

[2019-09-20 18:45] #96 closed

[2019-10-09 15:43] timmartin opened #98 "Property 'default' does not exist on type 'SuperAgentStatic'"
I generated some code, and it fails the Typescript build with

    Property 'default' does not exist on type 'SuperAgentStatic'

The code in question is

        const agent = this.configureAgentHandler ?
            this.configureAgentHandler(request.default) :
            request.default;

It seems that the `default` property doesn't exist according to `@types/superagent`.

At first glance this

[2019-10-10 08:54] scottc opened #99 "[feature] decoder functions"
In a perfect world, everyone would version their immutable apis and never introduce breaking changes.

But in reality co-workers could introduce breaking api changes.

There could potentially be a mismatch between the actual runtime json response and the static compile time typescript types.

This can cause runtime errors, but could be caught by the typechecker / developer at compile time.

So a g

[2019-10-11 06:23] mtennoe commented on #98
Hm, interesting that the PR to change this had the opposite problem. @Kosta-Github what versions of superagent and @types/superagent were you using when seeing the original issue and creating the fix?

@timmartin - If this is blocking you in some way and you need and urgent workaround until this is resolved, you can copy the class.mustache file, change it and use it as a custom template file

[2019-10-11 06:34] mtennoe commented on #99
This is a great idea! Would definitely add an extra layer of protection.
Some things we should ensure (imo):
* It needs to be optional in case consumers don't want the decoders for whatever reason
* It needs to be lightweight to not bloat the consumers generated bundle sizes
* It needs to have some level of configurability - for instance on what level to throw errors (errors, warnings, etc), and p

[2019-10-14 06:05] mtennoe opened #101 "Set default collectionFormat to be "csv" instead of "multi" in the major release"
See #100, more specifically in _src/type-mappers/array.ts_

[2019-10-14 06:43] mtennoe commented on #54
@Markionium - Was this addressed as part of the TS rewrite?

[2019-10-14 06:48] mtennoe opened #102 "Get rid of SuperAgent dependency"
The way I see it it's not really needed, and just bloats the consumer's bundle size. Using XMLHttpRequest should be sufficient

[2019-10-15 17:32] andy-viv commented on #102
There are a few benefits to superagent:
- mutual TLS support (other libraries have this though)
- isomorphic (XMLHttpRequest is not available on a node server, for example)
- well-maintained

Might I suggest supporting multiple request libraries? I don't think you would have to maintain entirely different templates for each one, but instead have a helper that acts as a sort of `switch` statement d

[2019-10-16 05:45] mtennoe commented on #102
All good points! I like the idea of supporting multiple request libraries. It will as you write introduce some complexity ofc, but might be worth it. A middle ground could be to make superagent optional, and fall back to XHR if superagent is disabled.

Overall though, I think this issue is not the highest priority one since it's so easy to change the template to not use it (we have done that in a

[2019-10-28 08:27] mtennoe opened #103 "Hello there, here is a test"

[2019-10-28 08:30] mtennoe commented on #103
@mtennoe Can you please do this thing?

[2019-10-28 08:33] mtennoe commented on #103
Words

[2019-10-28 08:33] #103 closed

[2019-11-19 07:51] erictuvesson opened #106 "Parameter type not supported (nullable)"
Hello,

The parameter type nullable is not supported.

Location:
https://github.com/mtennoe/swagger-typescript-codegen/blob/master/src/view-data/parameter.ts#L89

parameter:
[code]

It would be nice if the exception contains the failed type too, it makes it a lot easier to debug an issue like this. 😄

[2019-11-21 06:58] mtennoe commented on #106
Yo, and thanks for reaching out!

The codegenerator definitely lacks nullable support, however it is currently only supporting Swagger 2.0, where nullable parameter types are not part of the spec. I.e. it is possible to add it, but that would break with the 2.0 spec, while ofc. adding some value. I am a bit uncertain what I prefer here as it's important to follow the spec. Would love to hear peopl

[2020-01-07 09:45] VentyCZ opened #108 "[BUG] Exception if there's a root path in spec"
Just tried to integrate this library into my project and I just found a case where the library fails.

There is an issue with the [getPathToMethodName](https://github.com/mtennoe/swagger-typescript-codegen/blob/4cb5e72cbbb2b895472d2ddf1ffaefb9e49b0268/src/view-data/method.ts#L100) function.

When I have a root path (**/**) in the paths object of the spec, the library crashes: "Cannot read property

[2020-01-08 15:49] sjwilczynski commented on #108
Created a [PR](https://github.com/mtennoe/swagger-typescript-codegen/pull/109) for that.

[2020-01-08 16:35] VentyCZ commented on #108
@sjwilczynski Thanks for the fix! So it will generate methods like get_root_(), right ?

[2020-01-09 07:28] mtennoe commented on #108
Thanks for reporting @VentyCZ, and thanks for the PR @sjwilczynski  - Will take a look today

[2020-01-09 09:26] mtennoe commented on #108
Merged and published as 3.0.3. Thanks @sjwilczynski!

[2020-01-09 09:26] #108 closed

[2020-01-09 10:28] sjwilczynski commented on #108
After some changes we decided on methods names like `rootEndpoint_${lowerCasedHttpVerb}` - the http method comes after so that there is no conflict when someone has an endpoint called "rootEnpoint"

[2020-03-09 23:18] sloan-dog commented on #98
@here This is is still an issue for me.

    "@types/superagent": {
      "version": "4.1.7",

    "superagent": {
      "version": "3.8.3",

    "swagger-typescript-codegen": "^3.0.3",

[2020-03-10 08:29] erictuvesson opened #112 "API Proposal: Generate multiple files"
### Justification
Our API is going to be quite big and generating it all into one file will make the file very very large. I would like to avoid this, especially since a lot of the large sets will only be used on some specific pages (included admin pages).

Right now I don't commit the generated code to git, which is something that I would like to do in the future to allow us to follow code change

[2020-03-10 08:38] erictuvesson opened #113 "API Proposal: Support other template languages"
### Justification
Right now only [Mustache](https://mustache.github.io/) is supported, I can see the benefits of the template language. It's just a little bit off putting for people how doesn't know it that well to build custom templates.

I don't consider this important, just would like to open a discussion around it.

### API Proposal
There are already a something building on top of this, buildi

[2020-03-10 08:42] erictuvesson commented on #102
I don't think it necessarily have to introduce more complexity, parts of the code could be made more abstract making it easier to maintain different versions easier.

So the underlying data format (`ViewData`) would stay the same, just the template files would change depending of what "template set" you decide to use.

[2020-03-10 08:52] erictuvesson commented on #35
I am not seeing any `tslint` files in the repository, was going to see what rules are ignored.

Am I missing something?

[2020-03-10 08:57] mtennoe commented on #35
There is currently no tslint integrated, so this issue is for integrating it and enabling rules. Its a bit unclear from the title though. Will make it clearer

[2020-03-10 09:01] mtennoe commented on #98
@sloan-dog - Hm, considering we have seen some inconsistencies in the behavior here, can you try out what happens if you downgrade the version of `@types/superagent`? If it works in an older version, seems like we in [this change](https://github.com/mtennoe/swagger-typescript-codegen/commit/686c6178ae660d63b74ade8faeed98a3f903bbf6) broke it for newer versions. In that case we should support the ne

[2020-03-10 09:03] erictuvesson commented on #106
I agree it would be best to follow the Swagger 2.0 specs, one potential solution could be to add an extended version. I am not sure how many more types that are not in the Swagger 2.0 spec which could potentially be used.

Related: https://github.com/mtennoe/swagger-typescript-codegen/issues/102

[2020-03-10 09:19] mtennoe commented on #102
Agree, with the right level of abstractions it might turn out pretty nice. However, there will always be some complexity when adding abstractions, but in this case it might be a good trade-off.

[2020-03-10 09:46] mtennoe commented on #112
I like the idea, it should make the codegenerator more powerful and customizable, and with the right abstraction level it would keep things fairly clean.

For your specific case though, have you looked into using webpack with tree shaking? With proper tree shaking configured you should end up only bundling the functions that you are actually using per page/component/application/etc. We have great

[2020-03-10 09:57] mtennoe commented on #113
I like this! @Markionium and I have previously discussed supporting ES6 template literals for instance. To maintain backwards compatibility and allow people to use their preferred template language, adding the template logic in some plugin-like way (with maybe mustache as the default fallback) would be nice, and would make the generator quite a bit more flexible.

I don't think it's the highest pr

[2020-03-10 19:28] erictuvesson opened #114 "Coding/File Guidelines"
It would be nice if there was some general guidelines.

#### Coding Guidelines
Since there is prettier installed and pre-commit hook, direct guidelines are not required.

#### File Guidelines
Right now the file names are not following the same format everywhere, would be nice to keep it consistent.

[2020-03-10 20:07] erictuvesson commented on #113
Yes, as little of breaking changes as possible is always nice.

What would be the ideal naming conversion? Currently it's named `transform` and `transformToCodeWithMustache`.
The options structure should probably also be revisited in some way, so there can be custom options for each language.

[2020-03-10 20:20] erictuvesson commented on #112
Before getting started with this it would be nice to do a bit of refactor of the current architecture, to allow for better customization from the start.

I haven't looked into Webpack tree shaking, perhaps I should, I do prefer to not do changes to Webpack unless I really have to. I currently have a few Webpack configs running on the same code, so keeping them in sync is not pleasant.

[2020-03-10 20:25] erictuvesson commented on #54
Hey @Markionium, could you provide some examples or is it related to all `securityDefinitions` ?

Could be nice to write some tests to check the expected `ViewData`.

[2020-03-11 09:31] itamarco opened #115 "date-time format field is generated as string type"
Suppose we have a Date query param
[code]
A generated swagger parameter definition for query param would be
[code]
But `swagger-typescript-codegen` would type it as string
[code]
And when try to use it with Date, TS error would be raised ` Type 'Date' is not assignable to type 'string'`
e.g.
[code]

[2020-03-11 09:48] erictuvesson commented on #115
`date-time` is a string in the Swagger specs
https://swagger.io/docs/specification/data-models/data-types/#string

We should update the Typescript Type based on the `format` too, then convert that to string before the request.

I wonder if this could introduce a few breaking changes changing the type.

[2020-03-11 10:04] itamarco commented on #115
P.S. [official swagger-codege](https://github.com/swagger-api/swagger-codegen) is indeed generating `Date` type from `date-format` (for _typescript-fetch_ language)

[2020-03-11 11:10] mtennoe commented on #113
Hm, naming wise maybe `transform` and `transformToCode` would be decent
Options-wise it should probably just be a simple base-config with a set of mandatory and optional properties, with some way of extending that based on the template language.

[2020-03-11 11:12] mtennoe commented on #112
Agree, some cleanup is recommended before starting this work (not just for this specific proposal, but for the others as well).

Re. tree shaking: I really recommend looking into it overall, as it allows you to tree-shake away other unused stuff as well (dead code from your own project, unused library code, etc), which can really reduce the size of your shipped bundles

[2020-03-11 11:20] mtennoe commented on #115
This code-generator currently only supports Swagger 2.0, so we need to look at the spec for 2.0 [here](https://swagger.io/docs/specification/2-0/basic-structure/) instead. Interestingly enough dates are not mentioned explicitly for 2.0, and looking more at the documentation it only briefly mentions some date examples where they are also passed as strings. So seems like the 2.0 spec doesn't conside

[2020-03-11 11:38] itamarco commented on #115
I'm generating 2.0 swagger spec

[2020-03-11 11:53] mtennoe commented on #114
Another +1 from me!
It probably makes sense to create some guidelines before starting the other proposals/cleanups, as we then can move towards that goal from the start

[2020-03-11 11:56] mtennoe commented on #115
Thanks!
Backwards compatibility is important so we could consider a solution that exposes a union type for dates, where the type would be `Date | string`, and then we could check for which type is being passed in from the caller side. The actual call would contain a string version of the date either way. This would maintain backwards compatibility, while making it easier for callers/consumers as w

[2020-03-11 12:06] erictuvesson commented on #114
@mtennoe is this something you want to start working on?

[2020-03-11 12:08] mtennoe commented on #114
Would love to do it. Based on current bandwidth due to work elsewhere I am not sure when I would have time to do it though, so I don't want to prevent others from giving it a shot if they want

[2020-03-11 12:11] erictuvesson commented on #114
I will be very busy the next few weeks, so I wouldn't have time to do it until next month. So up for grabs I guess.

[2020-03-11 12:13] itamarco commented on #115
Sound good.

By union it with string we lose the date type enforcement but this is a price to pay for backward compatibility :(

Appreciate your fast response!

[2020-03-11 12:15] mtennoe commented on #115
Cool!
Not sure when a solution can be looked into though (my bandwidth is sadly filled at the moment), but anyone should be able to give it a shot :)

[2020-03-11 12:34] erictuvesson commented on #115
I suppose there could be an option to not have the backward compatibility, I would be interested in something like that.

[2020-03-11 12:41] mtennoe commented on #115
We could consider doing the string union as a backwards compatible stop-gap solution, and then remove the `| string` part when going to the next major version

[2020-05-23 22:12] JSimoni42 commented on #35
This seems like it should be amended to "Integrate and enable eslint" given that tslint is being deprecated in favor of eslint: https://github.com/palantir/tslint

[2020-05-24 14:57] mtennoe commented on #35
@JSimoni42 - You are absolutely correct, thanks for pointing it out!

[2020-07-02 18:35] fgblomqvist opened #117 "Changelog?"
Is there a changelog somewhere? We're currently on 1.10.0 and it would be neat to upgrade, but I'd wanna see what has changed/improved/gotten deprecated obviously 🙂

[2020-07-02 18:39] fgblomqvist commented on #117
Actually, is there any documentation anywhere as well? Beyond what's in the readme

[2020-07-03 08:38] mtennoe commented on #117
No changelogs sadly and the only proper documentation is in the readme. It's definitely something that has to be improved all up.
The [merge commit messages](https://github.com/mtennoe/swagger-typescript-codegen/commits/master) _should_ be fairly descriptive though, and there aren't that many, so that might help you out. If not feel free to ask and I will do my best to help

[2020-07-06 13:34] fgblomqvist commented on #117
Alright, will do, thanks!

[2020-09-10 19:05] vorant94 opened #120 "Is there support for swagger 3+?"
Hi there! I am looking for swagger codeine solution for my angular app and found your package... But when I started to try it I got error that `Only Swagger 2 specs are supported`... Why is it so? Should I hope to get also Swagger 3 support in this lib? Or maybe have I missed some configuration?

[2020-09-13 19:45] mtennoe commented on #120
Hey! I am sorry to say that there is currently no support for Swagger/OpenAPI 3, and we sadly don't have the capacity to look into that at the moment. I am very happy if someone want's to give it a shot though!

[2020-09-22 16:27] bitsofinfo commented on #98
same issue, any updates?

[2020-09-22 18:19] #120 closed

[2020-09-23 08:19] mtennoe commented on #98
No updates from my side sadly. Have you tried what tgilland95 suggested above?

[2020-10-27 12:37] WVerlaek opened #124 "Query parameters in POST request are converted to formdata"
It looks like it's not possible to have query parameters on POST requests, they are converted to formdata here: https://github.com/mtennoe/swagger-typescript-codegen/blob/master/templates/method.mustache#L179

Is there a specific reason this conversion is done? In our usecase, we generate a swagger spec from proto/grpc definitions using grpc-gateway, where query parameters are used to map fields i

[2020-10-28 08:09] mtennoe commented on #124
Hey! The reason is that POST requests normally don't have query parameters, as all parameters are typically sent as part of the payload of the request (as all POST requests should have a payload containing this kind of stuff). To be clear though, AFAIK there is nothing in the spec saying that POST requests should not be allowed to have query parameters. Therefore, if this is handled explicitly in

[2020-10-28 16:08] WVerlaek commented on #124
Yeah, having query parameters on POST requests seems to be the standard for grpc-gateway and https://cloud.google.com/apis/design/standard_methods#create

I think that makes the most sense, to prevent any breaking changes

Looking at https://github.com/mtennoe/swagger-typescript-codegen/blob/master/templates/method.mustache#L179 I was thinking we could remove
[code]
and pass both form and query pa

[2020-10-29 07:18] mtennoe commented on #124
Hm, I would prefer it if we could separate what params should go into the formdata and what should go into the query parameters. That however would lead to a solution that is overly complex or verbose, so I guess if we name the bool property correctly that would be good enough. Something like `duplicatePostFormDataInQueryParameters`?

[2020-10-29 15:41] WVerlaek commented on #124
Agree, what I meant was given the following example swagger spec for a POST request:

[code]

the current behaviour is that the `some_query_parameter` is sent as form data, and `some_form_parameter` is not sent at all as form data gets overwritten by the query parameters. I think the solution would be to add a flag, and when enabled, will send `some_query_parameter` as a query parameter and `some_

[2020-10-30 09:29] mtennoe commented on #124
Ah yes, thanks for clarifying! Agree, that sounds like a good approach. It also ensures backwards compatibility for people relying on the formdata behavior

[2020-12-04 07:23] brook-w opened #125 "version 3.0 ??"
if (opts.swagger.swagger !== "2.0") {
        throw new Error("Only Swagger 2 specs are supported");
    }

[2020-12-07 07:25] mtennoe commented on #125
Hi! The generator currently only supports Swagger 2, and there is sadly no bandwidth to look into 3.0 in the nearest future. Very happy if someone want's to do a pull request though :)

[2021-06-09 16:19] vapurrmaid opened #128 "CVE-2021-33502 in normalize-url"
CVE-2021-33502 exists in `normalize` 4.5.0:

https://github.com/mtennoe/swagger-typescript-codegen/blob/2805e472a77f0409355bf7142fc7adf7803daf36/package-lock.json#L7081-L7085

Patch exists in 6.0.1, 5.3.1, 4.5.1.

Dependency path:

- swagger-typescript-codegen
- update-notifier
- latest-version
- package-json
- got
- cacheable-request --> normalize-url

The `4.5.1` patch is compatible

https://git

[2021-06-11 06:44] #128 closed

[2021-09-22 20:26] Emyrk commented on #124
Hey any updates on this?

[2021-09-27 13:51] mtennoe commented on #124
Sorry for the slow response, no updates here sadly @Emyrk. Did you want to give your proposal a shot @WVerlaek?

[2021-09-27 22:12] WVerlaek commented on #124
Sorry didn't get a chance to finish this back then, we decided not to use query parameters. Have given it another shot, PR is here: https://github.com/mtennoe/swagger-typescript-codegen/pull/130

[2021-09-28 12:33] mtennoe commented on #124
Great, taking a look!

[2021-09-28 12:34] #124 closed

[2021-09-28 12:36] mtennoe commented on #124
Approved, merged, and published as version 3.2.4. Thanks @WVerlaek!

[2022-08-09 02:24] evokeego commented on #125
Ya I'm in the same boat @brook-w . Currently using [api-spec-converter](https://www.npmjs.com/package/api-spec-converter) to downgrade my openapi v3 to swagger v2 before converting